.idea/
.env/
venv/
*.pyc
*.pydevproject
*.project
*.DS_Store
db.sqlite3
supervisord.log
supervisord.pid
docker-entrypoint.lock
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
docker-django.env.prodnetworks.zip
data/Networks/
data/Mappings/
docker-django.env
.prettierrc
.vscode/
